@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  color: yellow;
  background-color: black;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: antiquewhite;
}
/* Global Styles */
* {
  -webkit-user-drag: none; /* Disable image dragging in webkit browsers */
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Non-prefixed version, supported by modern browsers */
  pointer-events: none; /* Disable interactions */
}
